@charset "UTF-8";

@media screen and (max-width: 600px){

    .btn-mobile{
        display: block;
        cursor: pointer;
        border-top: 0.2rem solid var(--primary-color);
        background-color: transparent;
        width: 30px;
        border-radius: 0;
        padding: 0;
    }

    .btn-mobile::after, .btn-mobile::before{
        content: '';
        display: block;
        width: 30px;
        height: 0.2rem;
        background-color: var(--primary-color);
        margin-top: .4rem;
        transition: .3s;
        position: relative;
        transition: .3s;
    }

    .btn-mobile.open{
        border-top: transparent;
    }

    .btn-mobile.open::after{
        transform: rotate(135deg);
    }

    .btn-mobile.open::before{
        transform: rotate(-135deg);
        top: .6rem;
    }

    .menu-bar-nav-itens{
        /* display: none; */
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        gap: 0;
        width: 100%;
        height: 0;
        transition: .6s;
        top: 6rem;
        right: 0;
        background-color: var(--secundary-color);
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    .menu-bar-nav-itens.active {
        display: flex;
        height: calc(100vh - 6rem);
        visibility: visible;
        overflow-y: auto;
    }

    .menu-bar-item{
        padding: 1rem;
        margin: 0 auto;
        border-bottom: 2px solid var(--primary-color);
        /* display: block; */
        width: 90%;  
    }
}